{% extends 'base.html.twig' %}

{% block title %}Hello SearchResultController!{% endblock %}

{% block body %}
<button onclick="window.location.href='{{ path('home') }}'">Retour</button>
{% endblock %}
